body {
  background-image: url("../images/hotel.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.logo{
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}
.container{
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #ffffff;
}
.image-carausel{
  height: 30rem;
}
.footer{
  height: 40px;
  background-color: khaki;
  text-align: center;
  padding-top: 8px;
  border-radius: 4px;
}